Flask==1.1.2
Flask-SQLAlchemy==2.5.1
PyMySQL==1.0.2
nltk==3.6.1
h5py==2.10.0
Keras==1.1.0
numpy==1.19.5
python-dateutil==2.8.0
pytz==2018.9
PyYAML==5.1
six==1.15.0
Theano==1.0.4
tensorflow==2.4.1
pandas==1.2.4
scipy==1.6.3
demoji==0.4.0
